* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2 !important;
    color: #333;
    font-family: sans-serif;
}

img {
    max-width: 2.5rem; 
}


.club-logos {
    max-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255, 0.7);
}

.club-logos__img {
    max-width: 1.4rem;
}

.club-logos__img:hover {
    transition: 0.2s;
    scale: 1.2;
}

.header-div {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-div img {
    max-width: 30%;
}

.header-div h1 {
    text-align: center;
    padding: 1em;
    font-size: 3rem;
    font-style: italic;
}

.btn-div { 
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    text-align: center;
    flex-wrap: wrap;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-div .my-btn {
    background-color: rgb(97, 97, 228);
    color: #efefef;
    font-size: 1.2rem;
    border: 2px solid rgb(97, 97, 228);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-div .my-btn:hover {
    background-color: rgb(63, 63, 202);
    border: 2px solid rgb(63, 63, 202);
    transition: 0.4s;
}

.btn-div .reset-btn {
    background-color: rgb(248, 38, 38);
    border: 2px solid rgb(248, 38, 38);
}

.btn-div .reset-btn:hover {
    background-color: rgb(214, 61, 61);
    border: 2px solid rgb(214, 61, 61);
}

.table-section {
    max-width: 80%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
