body {
    background-color: #efefef;
}

.container {
    /* margin: 100px; */
    /* margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 50px; */
    /* margin: 50px 100px; */
    /* margin: 10px 500px 100px 200px; */
    /* margin-left: 100px;
    margin-right: 100px; */
    /* padding: 50px; */
    /* margin-left: auto;
    margin-right: auto; */
    width: 800px;
    margin: 50px auto 100px;
    border: 5px solid black;
    padding: 5px;
}

.crveniParagraf {
    color: red;
    font-size: 50px;
}

.zeleniParagraf {
    color: green;
    font-size: 30px;
}

h1 {
    font-size: 50px;
    color: red;
}

h2 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

