* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}

.navigation {
    padding: 20px;
    text-align: right;
    background-color: #333;
}

.navigation ul {
    margin-right: -20px;
}

.navigation ul li {
    display: inline;
    margin-right: 20px;
    list-style-type: none;
}

.navigation ul li a {
    color: #efefef;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.navigation ul li a:hover {
    background-color: #efefef;
    color: #333;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    font-size: 50px;
    color: #333;
    margin: 20px 0 50px;
}

button {
    margin: 10px;
    padding: 5px 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: #efefef;
    border: 2px solid #333;
}

.moja-klasa {
    background-color: #efefef;
    color: #333;
}

#test {
  margin-left: 10px;
}
