* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #efefef;
    --secondary-color: #333;
    --my-blue: rgb(6, 93, 255);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: sans-serif;
}

section {
    margin: 0.5rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
}

li {
    margin-right: 1.2rem;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

a {
    text-decoration: none;
}



/***************************************************  Navbar  *******************************************************/

.header {
    position: fixed;
    color: var(--primary-color);
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0, 0.9);
    z-index: 100;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.header .navbar .nav-logo img {
    width: 4rem;
    margin-left: 1rem;
    padding: 0.5rem;
}

.header .navbar .hamburger {
    display: none;
}

.header .navbar .hamburger .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.header .navbar .nav-menu {
    display: flex;
} 

.header .navbar .nav-menu a {
    color: var(--primary-color);
}

.header .navbar .nav-menu a:hover {
    border-bottom: 1px solid var(--primary-color);
}


@media only screen and (max-width: 768px){
    .header .navbar .hamburger {
        display: block;
        padding: 1rem;
        cursor: pointer;
    }

    .header .navbar .nav-menu {
        position: fixed;
        left: -100%;
        background-color: rgba(0,0,0,0.9);
        flex-direction: column;
        top: 64px;
        height: 100%;
        width: 100%;
        transform: 0.3s;
        transition: all 0.3s ease-in-out;
    }

    .header .navbar .nav-menu li {
        margin-top: 5rem;
        display: flex;
        justify-content: space-around;
        font-size: 1.5rem;
    }

    .header .navbar .nav-menu.active {
        left: 0;
    }
}


/***************************************************  Home  *********************************************************/


.hero {
    min-height: 100vh;
    margin-top: 8rem;
}

.hero .container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.hero .container .informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero .container .informations p {
    text-align: justify;
}

.hero .container .informations h1 span {
    color: var(--my-blue);
}

.hero .container .image-container img {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 80%;
    border-radius: 12rem;
    margin-left: 2rem;
}


@media only screen and (max-width: 768px) {
    .hero .container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .hero .container .image-container {
        width: 70%;
        margin-top: 1rem;
        margin-left: 2rem;
    }
}   



/****************************************************  About  **********************************************************/


.about {
    min-height: 100vh;
    scroll-margin-top: 3rem;
}

.about .container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about .container h2 {
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
}

.about .container p {
    padding: 1rem;
}

.about .container .grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: justify;
    gap: 1rem;
}

.about .container .grid .grid-card {
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
}

.about .container .grid .grid-card .grid-image{
    height: 50%;
    border-radius: 1rem;
    overflow: hidden;
}

.about .container .grid .grid-card .grid-image img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.about .container .grid .grid-card .informations {
    padding: 0.5rem;
}


@media only screen and (max-width: 768px) {
    .about .container .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        width: 80%;
        margin: 0 auto;
    }

    .about .container .grid .grid-card .grid-image img {
        margin: 0 auto;
    }
  
}   



/***************************************************  Projects  *********************************************************/



.projects {
    height: 100vh;
    scroll-margin-top: 3rem;
}

.projects .container {
    max-width: 70rem;
    margin: 5rem auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projects .container h2 {
    font-size: 2rem;
    text-align: center;
}

.projects .container .slider-wrapper {
    max-width: 60rem;
    height: 30rem;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 2rem;
    position: relative;
    margin-bottom: 3rem;
    border-radius: 1rem;
    overflow: hidden;
}

.slider-wrapper .slider-images {
	height: 100%;
}

.slider-wrapper .slider-images img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.slider-wrapper .slider-images img:first-child {
	display: block;
}

.slider-wrapper button {
    height: 4rem;
    width: 4rem;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    top: 40%;
    position: absolute;
    border-radius: 2rem;
}

.slider-wrapper button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

.slider-wrapper #right-btn {
    right: 0;
}

.slider-wrapper #right-btn .arrow {
    transform: rotate(-45deg);
}

.slider-wrapper #left-btn {
    left: 0;
}

.slider-wrapper #left-btn .arrow {
    transform: rotate(135deg);
}


/****************************************************  Contact  *********************************************************/


.contact {
    min-height: 100vh;
    scroll-margin-top: 3rem;
    margin-bottom: 2rem;
}

.contact .container {
    max-width: 70rem;
    margin: 5rem auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact .container h2 {
    font-size: 2rem;
    text-align: center;
}

.contact .container .form-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.contact .container .form-container form {
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
}

.contact .container .form-container form label {
    margin-bottom: 1rem;
    font-style: italic;
    font-weight: bold;
}

.contact .container .form-container form input {
    margin: 0.1rem 0 0.7rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
}

.contact .container .form-container form textarea {
    margin-top: 0.5rem;
    min-height: 5rem;
    min-width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 0.5rem;
}

.contact .container .form-container form button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--my-blue);
    color: var(--primary-color);
    cursor: pointer;
}

.contact .container .form-container form button:hover {
    opacity: 0.8;
}

.contact .container .form-container .form-image {
    padding: 1rem;
}

.contact .container .form-container .form-image img {
    width: 80%;
    margin: 4rem 0 0 4rem
}

.contact .container .social-networks {
    margin-top: 3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.contact .container .social-networks h3 {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.contact .container .social-networks .icons-div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.contact .container .social-networks a {
    color: var(--secondary-color);
    padding: 0.2rem;
}

.contact .container .social-networks .icons-div p {
    border: 2px solid var(--my-blue);
    padding: 1rem;
    border-radius: 0.5rem;
}


@media only screen and (max-width: 768px) {
    .contact .container .form-container {
        flex-direction: column;
    }

    .contact .container .form-container form {
        width: 100%;
        margin-left: 0rem;
    }

    .contact .container .form-container .form-image img {
        width: 80%;
        margin-top: 0;
        margin-left: 3rem;
    }

    .contact .container .social-networks .icons-div {
        margin-top: 1rem;
        flex-direction: column;        
    }
}   



/****************************************************  Footer *********************************************************/


.footer {
    height: 20vh;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.footer p {
    font-size: 1rem;
}
